body{
    margin: 0;
    padding: 0;
    background: url(Image/y2c3ttndctdz.jpg) ;
background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Raleway', sans-serif;
  
 
  
}

.main-context{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
p{
   margin: 0px;
   padding:0px;
   font-size: 25px;
   color: red;
}
h1{
    font-size: 4.3rem;
}
#name{
    color:tomato;
    text-shadow: px 2px rgb(50, 47, 255);
}
.btn-info {
    /* padding: 7px; */
    color: #070708;
    font-weight: 600;
    background-color: #49f00d;
    border-color: #9eff0a;
}
.btn:hover{
    background-color: #47cce6;
    color: white;
    border: 1px solid #32bacd;
    
}
.fas{
    color: rgb(17, 14, 12);
    font-size: 20px;
 border-radius: 3px;
    background-color: white;
}
.social-icons{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul>li{
    padding: 10px;
}
img:hover{
    transform: rotate(360deg);
    transition: transform 2s;
}
#toggle-btn{
position: absolute;
right: 10px;
top: 10px;
background: lightsteelblue;
}
.navbar-toggler-icon{
    color: white;
}

footer{
    height: 20vh;
}
#last{
    color: white;
    text-align: center;
    margin: 15px 0 0 0px;
}
@media only screen and (max-width:500px){

    .offcanvas.show {
        width: 40%;
        transform: none;
        background: #f3f5f778;
    }
    .main-context{
        height: 70vh;
    }
    footer{
        height: 30vh;
        padding-top:50px;
    }
    #created-btn {
        padding: 4px;
        color: #070708;
        font-size: smaller;
        font-weight: 600;
        background-color: #49f00d;
        border-color: #9eff0a;
    }
    h1{
        font-size: 1.7rem;
    }
    p{
        margin: 0px;
        padding:0px;
        font-size: 15px;
        color: white;
     }
     .h6, h6 {
        font-size: .7rem;
    }
}